form {
  background-color: gold;
  border-radius: 10px;
  padding: 20px;
}

form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

form input[type=submit] {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #1d1d1d;
  border: none;
  color: #ffffff;
  padding: 5px;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #1d1d1d;
}

/* Structure */
main {
  margin-left: 200px;
  padding: 60px;
  top: 0;
  border-top: 8px solid gold;
}

section {
  margin-bottom: 50px;
}

section:last-child {
  margin-bottom: 0;
}

footer {
  max-width: 100%;
  margin-left: 200px;
  padding: 0 60px 40px;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(48%, auto))[2];
      grid-template-columns: repeat(2, minmax(48%, auto));
  -ms-grid-rows: (minmax(48%, auto))[2];
      grid-template-rows: repeat(2, minmax(48%, auto));
  grid-gap: 20px 20px;
}

#welcome-section {
  width: 100%;
  height: auto;
}

/* Navigation */
.navbar {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 100%;
  padding: 60px 40px;
  top: 0;
  background-color: #1d1d1d;
  border-top: 8px solid #ffffff;
  color: #ffffff;
}

nav ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

nav ul li {
  margin: 0 0 10px 0;
}

.navbar__Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__Items--right {
  margin-left: auto;
}

.navbar__Link-toggle {
  display: none;
}

.sub-menu {
  padding-left: 20px;
  border-left: 2px solid gold;
}

/* Elements */
.social {
  margin-top: 15px;
}

.social .nav-link,
p.accent {
  margin-right: 5px;
}

.social .nav-link:last-child {
  margin-right: 0;
}

/* Typography */
p,
.list {
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -1px;
  line-height: 1.25;
  word-break: break-all;
}

h1 {
  font-size: 50px;
  margin: 0 0 30px;
}

h2,
h3 {
  font-size: 35px;
  margin: 0;
}

h4 {
  font-size: 26px;
  margin: 15px 0;
}

a {
  color: gold;
  text-decoration: none;
}

nav ul li a {
  color: #ffffff;
}

nav ul li a:visited {
  color: #ffffff;
}

a:visited,
a:hover,
nav ul li a:hover {
  color: gold;
}

.accent {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
}

.section-header {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 3px solid #1d1d1d;
}

/* Project Tiles */
.project p {
  margin-bottom: 15px;
}

.project-tile {
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.project-tile img {
  max-width: 100%;
}

.project-content h4 {
  font-size: 26px;
  margin: 0 0 15px;
}

.project-content {
  margin-right: 8%;
  margin-left: 8%;
}

/* Responsive */
@media (max-width: 867px) {
  .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 20px 0;
  }
}

@media (max-width: 767px) {
  .flex {
    display: block;
  }
  main {
    max-width: 100%;
    width: auto;
    margin-left: 0;
    padding: 60px;
    border-top: none;
  }
  footer {
    margin-left: 0;
  }
  .navbar {
    position: static;
    width: 100%;
    height: auto;
    padding: 20px 60px;
    border-top: none;
  }
  .navbar__Items {
    display: none;
    margin-top: 15px;
    padding-top: 30px;
  }
  .navbar__ToggleShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  .navbar__Link-toggle {
    display: block;
    cursor: pointer;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex-center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social {
    margin-top: 0;
  }
}
/*# sourceMappingURL=base.css.map */