// Partials

@import "variables";
@import "forms";

* {
    margin: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    color: $charcoal;
}

/* Structure */

main {
    margin-left: 200px;
    padding: 60px;
    top: 0;
    border-top: 8px solid $gold;
}

section {
    margin-bottom: 50px;
}

section:last-child {
    margin-bottom: 0;
}

footer {
    max-width: 100%;
    margin-left: 200px;
    padding: 0 60px 40px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(48%, auto));
    grid-template-rows: repeat(2, minmax(48%, auto));
    grid-gap: 20px 20px;
}

#welcome-section {
    width: 100%;
    height: auto;
}

/* Navigation */

.navbar {
    position: fixed;
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    padding: 60px 40px;
    top: 0;
    background-color: $charcoal;
    border-top: 8px solid $white;
    color: $white;
}

nav ul {
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style: none;
}

nav ul li {
    margin: 0 0 10px 0;
}

.navbar__Items {
    display: flex;
}

.navbar__Items--right {
    margin-left: auto;
}

.navbar__Link-toggle {
    display: none;
}

.sub-menu {
    padding-left: 20px;
    border-left: 2px solid $gold;
}

/* Elements */

.social {
    margin-top: 15px;
}

.social .nav-link,
p.accent {
    margin-right: 5px;
}

.social .nav-link:last-child {
    margin-right: 0;
}

/* Typography */

p,
.list {
    margin-bottom: 15px;
}

h1,
h2,
h3,
h4 {
    letter-spacing: -1px;
    line-height: 1.25;
    word-break: break-all;
}

h1 {
    font-size: 50px;
    margin: 0 0 30px;
}

h2,
h3 {
    font-size: 35px;
    margin: 0;
}

h4 {
    font-size: 26px;
    margin: 15px 0;
}

a {
    color: $gold;
    text-decoration: none;
}

nav ul li a {
    color: $white;
}

nav ul li a:visited {
    color: $white;
}

a:visited,
a:hover,
nav ul li a:hover {
    color: $gold;
}

.accent {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
}

.section-header {
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 3px solid $charcoal;
}

/* Project Tiles */

.project p {
    margin-bottom: 15px;
}

.project-tile {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.project-tile img {
    max-width: 100%;
}

.project-content h4 {
    font-size: 26px;
    margin: 0 0 15px;
}

.project-content {
    margin-right: 8%;
    margin-left: 8%;
}

/* Responsive */

@media (max-width: 867px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 20px 0;
    }
}

@media (max-width: 767px) {
    .flex {
        display: block;
    }

    main {
        max-width: 100%;
        width: auto;
        margin-left: 0;
        padding: 60px;
        border-top: none;
    }

    footer {
        margin-left: 0;
    }

    .navbar {
        position: static;
        width: 100%;
        height: auto;
        padding: 20px 60px;
        border-top: none;
    }

    .navbar__Items {
        display: none;
        margin-top: 15px;
        padding-top: 30px;
    }

    .navbar__ToggleShow {
        display: flex;
        margin-top: 15px;
    }

    .navbar__Link-toggle {
        display: block;
        cursor: pointer;
    }

    .Navbar__Items--right {
        margin-left: 0;
    }

    #navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-center {
        justify-content: space-between;
    }

    .social {
        margin-top: 0;
    }
}
